// 通用购买按钮
// -------------------------------
.btn-full-active {
    @include px2px(font-size, $font-size2);
    background-color: $color-primary;
    flex: 1;
    text-align: center;
    color: $white-color;
    padding-top: 2px;
    strong {
        @include px2px(font-size, 40px);
    }
}

.btn-full-disable {
    @include px2px(font-size, 30px);
    background-color: $color-third;
    color: $white-color;
    flex: 1;
    line-height: 44px;
    strong {
        @include px2px(font-size, 40px);
    }
}
