<ion-header-bar align-title="center" class="bar-positive">
  <h1 class="title">设置支付密码</h1>
</ion-header-bar>

<ion-content has-bouncing="true">
    <div error-info tip-class=" normal" error-show="{{!appNetWork||tipShow}}"></div>
  <div class="safe-password-wrap">
      <div class="switch-password" ng-class={'primary-color':showPwd}>
        <i class="icon ion-eye icon-large" on-tap="showPwd=!showPwd"></i>
      </div>

    <div class="row pwd_input" id="pwd_input" ng-click="showKeyBoard()">
        <span ng-class="{true: 'col-16 show', false: 'col-16'}[pwd.one!='' && !showPwd]">
            <i class="ion-record"></i>{{pwd.one}}
        </span>
        <span ng-class="{true: 'col-16 show', false: 'col-16'}[pwd.two!='' && !showPwd]">
            <i class="ion-record"></i>{{pwd.two}}
        </span>
        <span ng-class="{true: 'col-16 show', false: 'col-16'}[pwd.three!='' && !showPwd]">
            <i class="ion-record"></i>{{pwd.three}}
        </span>
        <span ng-class="{true: 'col-16 show', false: 'col-16'}[pwd.four!='' && !showPwd]">
            <i class="ion-record"></i>{{pwd.four}}
        </span>
        <span ng-class="{true: 'col-16 show', false: 'col-16'}[pwd.five!='' && !showPwd]">
            <i class="ion-record"></i>{{pwd.five}}
        </span>
        <span ng-class="{true: 'col-16 show', false: 'col-16'}[pwd.six!='' && !showPwd]">
            <i class="ion-record"></i>{{pwd.six}}
        </span>
    </div>
  </div>

  <div ng-click="setPayPassword()" class="submit-btn">
    确认
  </div>


</ion-content>
<key-board></key-board>
