<ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">Settings</h1>
</ion-header-bar>
<ion-content has-bouncing="true">
    <div class="list card">

  <a href="#/app/index" class="item item-icon-left">
    <i class="icon ion-home"></i>
    Enter home address
  </a>

  <a href="#/app/index" class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    Enter phone number
  </a>

  <a href="#/app/index" class="item item-icon-left">
    <i class="icon ion-wifi"></i>
    Enter wireless password
  </a>

  <a href="#/app/index" class="item item-icon-left">
    <i class="icon ion-card"></i>
    Enter card information
  </a>

</div>
</ion-content>
