// 验证码按钮相关样式
// -------------------------------
.safe-code-btn {
    @include px2px(width, 360px);
    color: #fff;
    border-radius: 5px;
    background-color: rgba(150, 225, 255, .3);
    margin-left: 10px;
    margin-bottom: 10px;
    line-height: 44px;
    text-align: center;
}

.safe-code-btn2 {
    @include px2px(width, 360px);
    color: #fff;
    border-radius: 5px;
    background-color: rgba(150, 225, 255, .3);
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
    min-height: 44px;
    font-size: 12px;
}
