.switch-password {
    overflow: hidden;

    i {
        float: right;
        padding:0 10px;
        color: $color-primary;
    }
    &.primary-color{
        i{
            color: $color-primary;
        }
    }
}
.password-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.safe-password-wrap {
    @include px2rem(padding-left, 60px);
    @include px2rem(padding-right, 60px);
    @include px2rem(margin-top, 40px);
    @include px2px(margin-bottom, 30px);

}
.safe-password-tip {
    @include px2px(font-size, $font-size3);
    color: $text-color4;
}
.valid-password {
    margin-top: -30px;
}
.valid-password-old{
    overflow: hidden;
    padding: 10px;
    margin-top: -10px;
    .forgot-password{
        padding: 0;
        margin-top: 0;
    }
}
